body{
    background-color: #89c0ff6c;
}

#btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

button{
    padding: 10px;
    margin: 20px;
    border-color: buttonface;
    border-radius: 15px;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5995DA;
    color: azure;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

h1{
    margin-bottom: 4px;
}

p{
    font-weight: bold;
}

#resultsDisplay,
#computerChoice{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#resultsDisplay{
    margin-top: 50px;
    margin-left: 10px;
    padding: 15px;
    color: green;
    font-weight: 300;
    font-size: 22px;
}


h3{
    margin-left: 10px;
    padding: 15px;
    color: green;
    font-weight: 300;
    font-size: 22px;
}

#scoreCard{
    display: flex;
    justify-content: space-around;
    color: #5995DA;
    margin-right: -10px;
}

.score{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: black;
}

#score{
    font-size: 22px;
    font-weight: 200;
    margin-top: 19.92px;
    text-align: center;
}

#roundResult{
    font-size: 20px;
    margin-top: 19.92px;
}

#player{
    width: 156.109px;
}